# dependencies
node_modules/

# environment variables
.env
.env.local

# logs
logs
*.log

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor settings
.vscode/
.idea/

# coverage
coverage/