# dependencies
node_modules/

# next.js build output
.next/

# environment variables
.env
.env.local

# logs
logs
*.log

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor settings
.vscode/
.idea/

# coverage
coverage/